html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css")
        link(rel="stylesheet" href="style.css")
    body
        .wrapper
          .wrapper__content
            h1(class="title scanner__header")
              | Report for 
              a(target="_blank" href="https://twitter.com/" + profile) #{profile}
            p
              | Report has been compared to <strong>#{documentsCount}</strong> reports in the database.
            table(class="table scanner_results")
              thead
                tr 
                  th 
                    | Scanned element
                  th 
                    | Value
                  th 
                    | Explanation
              tbody
                each result in results
                  tr
                    td !{result.element}
                    td !{result.value}
                    td !{result.explanation}
            div(class="field download_button_field")
              a(class="button is-link is-medium" href="/download-report/" + profile)
                | Download account data
            form(role="form" action="scan-result" method="POST" id="scanProfile")
              div(class="field")
                label(class="label" for="profile")
                  | Profile name <span class="tag is-light is-danger">(required)</span>
                input(class="input is-medium form__input" id="profile" type="text" placeholder="Scan another profile" name="profile" required)
              div(class="field")
                label(class="label" for="startDate")
                  | Analyze Tweets from <span class="tag is-info is-light">(optional)</span>
                input(class="input is-medium form__input" id="startDate" type="date" name="startDate")
                label(class="label" for="endDate")
                  | Analyze Tweets to <span class="tag is-info is-light">(optional)</span>
                input(class="input is-medium form__input" id="endDate" type="date" name="endDate")
              div(class="field form__submit" id="submitContainer")
                input(id="submitButton" type="submit" value="Scan!" class="button is-link is-medium")
          footer(class="wrapper__footer")
            div
                span
                  | Created by Dominik Szczepaniak 2022
    script(src="scripts.js")